.centerBox {
  margin-left: auto;
  margin-right: auto;
}
body {
  background: linear-gradient(90deg, silver, #dadada, silver);
}
body table#clock {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: 20vh;
  font-size: 2vh;
  line-height: 2vh;
  background-color: black;
  color: whitesmoke;
  text-align: center;
  padding: 1.5vh;
  border: 0.1vh solid darkred;
  border-top: 0.4vh solid red;
  border-bottom: 0.4vh solid tomato;
  border-radius: 2vh;
  text-shadow: 0.4vh 0.4vh 0.8vh darkred;
  margin-top: 38.5vh;
  transition: 0.5s;
}
body table#clock:hover {
  width: 80vw;
  height: 25vh;
  font-size: 3vh;
  line-height: 3vh;
  background-color: whitesmoke;
  color: black;
  text-shadow: 0.4vh 0.4vh 0.8vh tomato;
  margin-top: 35.5vh;
  transition: 0.5s;
}
body table#clock td {
  width: calc(12.5%);
}
body table#clock td .yes {
  opacity: 1;
}
body table#clock td .no {
  opacity: 0;
}
body table#clock td .sep {
  display: block;
  line-height: 4vh;
}
